<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {{>link}}
</head>

<body>
    {{>header}}
    <div class="container Element">
        <div class="row">
            
            <div class="col-md-6 col-12 content" style="color: indigo;">
                  <p>
                      <span style="font-size: 30px;">My name is Prateek.</span>i have done my BCA in 2020 july.i lived in Lucknow in India.
                      <h4>MY expertise</h4>
                      <ul style="color: indigo;">
                          <li>I have <span style="color: rgb(68, 231, 68); font-size:30px">2</span> year experience in front end development</li>
                          <li>html</li>
                          <li>CSS</li>
                          <li>javascript</li>
                          <li> and also 1 year Back end development experience.</li>
                          <li>Node.js</li>
                          <li>express.js</li>
                          <li>hbs,ejs.pug</li>
                          <li>My Best in i have 1 year experince in react native</li>
                      </ul>
                                      </p>

            </div>

        </div>

    </div>

</body>

</html>