<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>link}}
    <title></title>
</head>
<body>
    {{>header}}
    <div class="container Element">
        <ul style="color: rgb(161, 82, 142); font-size:larger; font-weight:bold;
        text-shadow:3px 2px 3px rgb(63, 0, 0)" class="content ">
          <li>RESPONSIVE WEB DESIGN. Our developers help you create a responsive, intuitive web design that performs across platforms, devices and networks.</li>
          <li>WEBSITE DEVELOPMENT. ...</li>
          <li>PHP DEVELOPMENT.</li>
          <li>ANDROID APP DEVELOPMENT. ...</li>
          
          <li>DRUPAL DEVELOPMENT. ...</li>
          <li>MOBILE APP DEVELOPMENT. ...


</li>
        </ul>

    </div>
</body>
</html>